@import "tailwindcss";
@import "primeicons/primeicons.css";

@theme {

    --font-arial: arial;

    --color-background: #c2caff;
    --color-paragraph: #b8bfab;
    --color-primary: #546ce3;
    --color-secondary: #7084ea;
    --color-tertiary: #a7b3f8;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}